@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.core.tags.Tag t, woody.core.tags.TagsController controller
@extends(view.wondergem.template.html, title: NLS.get("Tag"))
@section(breadcrumbs) {
    <li>
        <a href="@prefix/tags">@i18n("Tag.plural")</a>
    </li>
    <li>
        <a href="@prefix/tag/@t.getId()">@i18n("Tag")</a>
    </li>
}

@pageHeader("Tag")

@editForm(("tag/" + t.getIdAsString())) {
<div class="row">
    @singleSelect(name: "targetType", labelKey: "Tag.targetType") {
        @for(String type : controller.getTargetTypes()) {
            <option value=""></option>
            <option value="@type" @if (type.equals(t.getTargetType())) { selected="selected" }>@controller.translateType(type)</option>
        }
    }
    @textfield(span: "6", name: "name", value: t.getName(), labelKey: "Model.name", required: true)
</div>
}

@formBar() {
    <a href="@prefix/tags" class="btn">@i18n("NLS.back")</a>
}
