@args String id, String url, woody.core.comments.Commented comments

@subHeading("Comment.plural")
<a name="comments"></a>
<form action="/comments/add/@id" method="post" id="commentForm">
            <textarea name="comment" rows="3">

            </textarea>
    <input type="hidden" name="authHash" value="@comments.getAuthHash()" />
    <input type="hidden" name="redirectUrl" value="@url" />
    <button type="submit" value="Senden">Add</button>
</form>

@for(woody.core.comments.Comment comment : comments.getAllComments()) {
<div class="comment">
    @comment.getPersonName()<br>
    @NLS.toSpokenDate(comment.getTod())<br>
    @comment.getTextContent()
</div>
}