@args String id, String type, String url, woody.core.relations.Relations relations

@subHeading("Relation.plural")
@for(woody.core.relations.Relation relation : relations.getRelations()) {
<div class="relation">
    <div style="float:left"><span class="badge">@relation.getType().getValue().getName()</span></div>
    <div style="float:right">
        @{ sirius.kernel.commons.Tuple nameAndUri = relations.getTargetNameAndUri(relation).orElse(null) }
        @if (nameAndUri != null) {
        @if (nameAndUri.getSecond() != null) {
            <a href="@nameAndUri.getSecond()" target="_blank">@nameAndUri.getFirst()</a>
        } else {
            @nameAndUri.getFirst()
        }
        }
        <a class="link link-danger" href="/relations/delete/@relation.getId()/@relations.getAuthHash()?redirectUrl=@Strings.urlEncode(url)">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="clearfix">
        <i>@relation.getDescription()</i>
    </div>
</div>
}
<form action="/relations/add/@id" method="post" id="relationForm">
    <input type="hidden" name="authHash" value="@relations.getAuthHash()" />
    <input type="hidden" name="redirectUrl" value="@url" />

    @autocompleteSingleSelect(span: "12", name: "relationId", serviceUri: ("relations/autocomplete/" + type))
    <button type="submit" value="Senden">Add</button>
</form>