@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.xrm.Company company, woody.sales.opportunities.Opportunity opportunity, String page
@extends(view.wondergem.template.html, title: (opportunity.toString()))

@section(head) {

   <script src="/assets/wondergem/ace/ace.js" type="text/javascript"></script>
}

@section(breadcrumbs) {
    <li>
        <a href="@prefix/companies">@i18n("Company.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()">@company</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/opportunities">@i18n("Opportunity.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/opportunity/@opportunity.getId()">@opportunity</a>
</li>
}

@pageHeader("Opportunity")

<div class="row">
    @if (!opportunity.isNew()) {
    <div class="col-md-3">
        @navbox() {
            <li class="nav-header">@i18n("Model.details")</li>
            <li>
                <b>@opportunity.toString()</b>
            </li>

            <li class="nav-header"></li>
            <li @if(page == "details") { class="active" }>
                <a href="@prefix/opportunity/@opportunity.getId()" class="link">
                    <i class="icon-users"></i>@i18n("Model.details")
                </a>
            </li>
        }
        <a href="@prefix/company/@opportunity.getCompany().getValue().getId()/opportunities" class="btn btn-block">@i18n("NLS.back")</a>
    </div>
    }
    <div class="@if (opportunity.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
