@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@

@import woody.xrm.Company
@import woody.xrm.Person
@import woody.sales.opportunities.Opportunity
@import woody.sales.opportunities.OpportunityState
@import woody.sales.accounting.Product
@import sirius.biz.tenants.UserAccount

@args Company company, Opportunity opportunity
@extends(view.opportunities.opportunity.html, company, opportunity, "details")

@editForm(("company/" + company.getIdAsString() + "/opportunity/" + opportunity.getIdAsString())) {

   <div class="row">
      @singleSelect(span: "3", name: "product",
      labelKey: "Opportunity.product") {
         @for(Product product : opportunity.getAllProducts()) {
            <option value="@product.getId()"
                    @if (opportunity.getProduct().is(product)  )
                    { selected="selected" }>@product.getName()</option>
         }
      }

       @singleSelect(span: "3", name: "state",
       labelKey: "Opportunity.state") {
           @for(OpportunityState state : OpportunityState.values()) {
               <option value="@state.name()" @if (state == opportunity.getState()) { selected="selected" }>@state.toString()</option>
           }
       }


       @textfield(span: "4", name:     "source",
        value:    opportunity.getSource(),
        labelKey: "Opportunity.source")

    </div>

    <div class="row">

        @singleSelect(span: "3", name: "person",
        labelKey: "Opportunity.person") {
            @for(Person person : opportunity.getAllPersons()) {
                <option value="@person.getId()" @if (person.equals(opportunity.getPerson().getValue())) { selected="selected" }>@person.toString()</option>
            }
        }

        @singleSelect(span: "3", name: "employee",
        labelKey: "Opportunity.employee") {
            @for(UserAccount uac : opportunity.getAllUsers()) {
                <option value="@uac.getId()" @if (uac.equals(opportunity.getUseraccount().getValue())) { selected="selected" }>@uac.toString()</option>
            }
        }
        @textfield(span: "3", name:     "contractValue",
        value:    NLS.toUserString(opportunity.getContractValue()),
        labelKey: "Opportunity.contractValue")


    </div>
    <div class="row">
        @textfield(span: "3", name:     "nextInteraction",
        value:    NLS.toUserString(opportunity.getNextInteraction()),
        labelKey: "Opportunity.nextInteraction")
    </div>

    <tr>
        <td><b>Datum ändern</b></td>
        <td style="border:1cm">
            <a class="link" href="/company/@company.getId()/opportunity/@opportunity.getId()/plus1d">&nbsp;&nbsp;+1d</a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/opportunity/@opportunity.getId()/plus1w">&nbsp;&nbsp;+1w</a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/opportunity/@opportunity.getId()/plus1m">&nbsp;&nbsp;+1m</a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/opportunity/@opportunity.getId()/plus1y">&nbsp;&nbsp;+1y</a>
        </td>
    </tr>
}

@formBar() {
    @tracing(opportunity.getTrace())
}


