@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.core.inventory.InventoryItem item, List types
@extends(view.wondergem.template.html, title: NLS.get("Model.inventoryItem"))

@section(breadcrumbs) {
    <li><a href="/inventory/items">@i18n("InventoryItem.plural")</a></li>
    <li><a href="/inventory/item/@item.getIdAsString()">@i18n("Model.inventoryItem")</a></li>
}

@pageHeader("Model.inventoryItem")


@editForm(("inventory/item/" + item.getIdAsString())) {
    <div class="row">
        @textfield(name: "name",
                    value: item.getName(),
                    labelKey: "Model.name",
                    span: "6",
                    required: true)
        @textfield(name: "code",
                    value: item.getCode(),
                    labelKey: "Model.code",
                    span: "6",
                    required: false)
    </div>
    <div class="row">
        @textfield(name: "description",
                    value: item.getDescription(),
                    labelKey: "Model.description",
                    span: "12")
    </div>
    <div class="row">
        @if (item.isNew()) {
            @singleSelect(span: "6",
                          name: "type",
                          labelKey: "Model.type") {
                @for(woody.core.inventory.InventoryType type : types) {
                    <option value="@type.getId()"
                            @if (item.getType().is(type)) { selected="selected" }>@type.getName()</option>
                }
            }
        } else {
            @textfield(name: "type",
                    value: item.getType().getValue().getName(),
                    labelKey: "Model.type",
                    span: "6",
                    readonly: true)
        }
    </div>
    <div class="row">
        @autocompleteMultiSelect(span: "12", name: "tags", labelKey: "Tag.plural", serviceUri: "tags/INVENTORYITEM/autocomplete", optional: true) {
            @for(woody.core.tags.Tag t : item.getTags().getTags()) {
                <option value="@t.getName()" selected>@t.getName()</option>
            }
         }
    </div>

}

@formBar("inventory/items") {
    @tracing(item.getTrace())
}

@if (!item.isNew()) {
    <div class="row">
        <div class="col-md-6">
            @comments(item.getUniqueName(), ("/inventory/item/" + item.getId()), item.getComments())
        </div>
        <div class="col-md-6">
            @relations(item.getUniqueName(), ("INVENTORYITEM-" + item.getType().getId()), ("/inventory/item/" + item.getId()), item.getRelations())
        </div>
</div>
}

