@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.core.inventory.InventoryItem
@args Page items, String suggestions
@extends(view.wondergem.template.html, title: NLS.get("InventoryItem.plural"))

@section(breadcrumbs) {
    <li><a href="/inventory/items">@i18n("InventoryItem.plural")</a></li>
}

@pageHeader("InventoryItem.plural")

@magicsearch(items, "inventory/items", "inventory/items/suggest", suggestions) {
    <a class="btn btn-primary" href="/inventory/item/new">@i18n("Model.create")</a>
}

@table(items) {
    <thead>
        <tr>
            <th>
                @i18n("Model.name") <span class="muted">(@i18n("Model.code"))</span><br>
                <span class="muted">@i18n("Model.type")</span>
            </th>
            <th>
                @i18n("Tag.plural")<br>
                <span class="muted">@i18n("Relation.plural")</span>
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(InventoryItem item: items.getItems()) {
        <tr>
            <td>
                <a class="link" href="/inventory/item/@item.getId()">@item.getName()</a>@if (Strings.isFilled(item.getCode())) { <span class="muted">(@item.getCode())</span>}<br>
                <span class="muted"><small>@item.getType().getValue().getName()</small></span>
            </td>
            <td>
                @listTags(item.getTags())
                <br>
                @listRelations(item.getRelations())
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("inventory/item/" + item.getId() + "/delete?" + items.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(items, "inventory/items")