@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.core.inventory.InventoryType type
@extends(view.wondergem.template.html, title: NLS.get("InventoryType"))
@section(breadcrumbs) {
    <li>
        <a href="/inventory/types">@i18n("InventoryType.plural")</a>
    </li>
    <li>
        <a href="/inventory/type/@type.getId()">@i18n("InventoryType")</a>
    </li>
}

@pageHeader("InventoryType")

@editForm(("inventory/type/" + type.getIdAsString())) {
<div class="row">
    @textfield(span: "6", name: "name", value: type.getName(), labelKey: "Model.name", required: true)
</div>
}

@formBar() {
    <a href="/inventory/types" class="btn">@i18n("NLS.back")</a>
}
