@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@args Page companies, String suggestions
@extends(view.wondergem.template.html, title: NLS.get("Company.plural"))

@section(breadcrumbs) {
    <li><a href="/companies">@i18n("Company.plural")</a></li>
}

@pageHeader("Company.plural")

@magicsearch(companies, "companies", "companies/suggest", suggestions) {
    <a class="btn btn-primary" href="@prefix/company/edit/new">@i18n("Model.create")</a>
}

@table(companies) {
    <thead>
        <tr>
            <th>
                @i18n("Company.name")<br>
                <span class="muted">@i18n("Company.customerNumber")</span>
            </th>
            <th>
                @i18n("AddressData.city")<br>
                <span class="muted">@i18n("InternationalAddressData.country")</span>
            </th>
            <th>
                @i18n("Tag.plural")<br>
                <span class="muted">@i18n("Relation.plural")</span>
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Company company : companies.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/company/@company.getId()">@company.getName()</a><br>
                <span class="muted">@company.getCustomerNumber()</span>
            </td>
            <td>
                @company.getAddress().getCity()<br>
                <span class="muted">@codeLists.getValue("countries", company.getAddress().getCountry())</span>
            </td>
            <td>
                @listTags(company.getTags())
                <br>
                @listRelations(company.getRelations())
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("company/" + company.getId() + "/delete?" + companies.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(companies, "companies")