@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*  ??? @includeExtensions("view-company-details", company)
*@
@import woody.xrm.Company
@import woody.sales.CompanyAccountingData
@import woody.xrm.Person
@args Company company
@extends(view.xrm.company.html, company, "details")


@editForm(("company/" + company.getIdAsString())) {
    <div class="row">
        @textfield(name: "name", value: company.getName(), labelKey: "Company.name", required: true)
        @textfield(name: "name2",value: company.getName2(), labelKey: "Company.name2")
    </div>

    <div class="row">
        @textfield(span: "6", name: "customerNr", value: company.getCustomerNr(), labelKey: "Company.customerNr", readonly: false)
        @textfield(span: "6", name: "matchcode", value:    company.getMatchcode(), labelKey: "Company.matchcode")
    </div>

    <div class="row">
        @textfield(span: "4", name: "address_street", value: company.getAddress().getStreet(), labelKey: "AddressData.street")
        @textfield(span: "2", name: "address_zip", value: company.getAddress().getZip(), labelKey: "AddressData.zip")
        @textfield(span: "3", name: "address_city", value: company.getAddress().getCity(), labelKey: "AddressData.city")
        @codelistSelect(span: "3", list: Company.COUNTRY_CODELIST, name: "address_country",
          value: company.getAddress().getCountry(), labelKey: "AddressData.country", optional: true)
    </div>
    <div class="row">
        @textfield(span: "4", name: "postboxAddress_street", value: company.getPostboxAddress().getStreet(), labelKey: "PostboxAddressData.street")
        @textfield(span: "2", name: "postboxAddress_zip", value: company.getPostboxAddress().getZip(), labelKey: "AddressData.zip")
        @textfield(span: "3", name: "postboxAddress_city", value: company.getPostboxAddress().getCity(), labelKey: "AddressData.city")
        @codelistSelect(span: "3", list: Company.COUNTRY_CODELIST, name: "postboxAddress_country",
          value: company.getPostboxAddress().getCountry(), labelKey: "AddressData.country", optional: true)
    </div>
    <div class="row">
        @codelistSelect(span: "6", list: CompanyAccountingData.INVOICEMEDIUM_CODELIST, name: "companyAccountingData_invoiceMedium", value: company.getCompanyAccountingData().getInvoiceMedium(), labelKey: "Company.invoiceMedium")
        @textfield(span: "6", name: "companyAccountingData_invoiceMailAdr", value: company.getCompanyAccountingData().getInvoiceMailAdr(), labelKey: "Company.invoiceMailAdr")
    </div>
    <div class="row">
        @textfield(span: "4", name: "companyAccountingData_invoiceAddress_street", value: company.getCompanyAccountingData().getInvoiceAddress().getStreet(), labelKey: "AddressData.street")
        @textfield(span: "2", name: "companyAccountingData_invoiceAddress_zip", value: company.getCompanyAccountingData().getInvoiceAddress().getZip(), labelKey: "AddressData.zip")
        @textfield(span: "3", name: "companyAccountingData_invoiceAddress_city", value: company.getCompanyAccountingData().getInvoiceAddress().getCity(), labelKey: "AddressData.city")
        @codelistSelect(span: "3", list: Company.COUNTRY_CODELIST, name: "companyAccountingData_invoiceAddress_country",
          value: company.getCompanyAccountingData().getInvoiceAddress().getCountry(), labelKey: "AddressData.country", optional: true)
        @codelistSelect(span: "2", list: CompanyAccountingData.OUTPUTLANGUAGE_CODELIST, name: "CompanyAccountingData_outputLanguage",
        value: company.getCompanyAccountingData().getOutputLanguage(), labelKey: "CompanyAccountingData.outputLanguage", optional: false)
    </div>

    <div class="row">
        @textfield(span: "6", name: "homepage", value: company.getHomepage(), labelKey: "Company.homepage")
        @textfield(span: "6", name: "image", value: company.getImage(), labelKey: "Company.image")
    </div>

    <div class="row">
        @textfield(span: "6", name: "mainPhoneNr", value: company.getMainPhoneNr(), labelKey: "Company.mainPhoneNr")
        @textfield(span: "6", name: "mainMailAddress", value: company.getMainMailAddress(), labelKey: "Company.mainMailAdr")
    </div>

    <div class="row">
        @singleSelect(span: "6", name: "dataPrivacyPerson",
        labelKey: "Company.dataPrivacyPerson") {
            @for(Person person : company.queryPersons()) {
            <option value="@person.getId()" @if (company.getDataPrivacyPerson().is(person) ){ selected="selected" }>@person.toString()</option>
            }
        }

        @textfield(span: "6", name: "dataPrivacySendDate", value: NLS.toUserString(company.getDataPrivacySendDate()), labelKey: "Company.dataPrivacySendDate")
    </div>

    <div class="row">

       @textfield(span: "6", name: "trace_createdAt", value: NLS.toUserString(company.getTrace().getCreatedAt()), labelKey: "Company.createdAt")
    </div>

    <div class="row">
        @autocompleteMultiSelect(span: "12", name: "tags", labelKey: "Tag.plural", serviceUri: "tags/COMPANY/autocomplete", optional: true) {
            @for(woody.core.tags.Tag t : company.getTags().getTags()) {
                <option value="@t.getName()" selected>@t.getName()</option>
            }
         }
    </div>
}

@formBar() {
    @tracing(company.getTrace())
}
Post-comment
<form action="/company/@company.getId()/postComment" method="post" id="commentForm">
    <textarea name="comment" rows="3">

    </textarea>
    <button type="submit" value="Senden"></button>
</form>
<br></br>
Comments, Beginn
@for(woody.core.comments.Comment comment : company.getComments().getAllComments()) {
    <div class="comment">
        @comment.getPersonName()<br>
        @comment.getTod()<br>
        @comment.getTextContent()
    </div>
}
Comments, Ende

