@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*  ??? @includeExtensions("view-company-details", company)
*@
@import woody.xrm.Company
@args Company company
@extends(view.xrm.company.html, company, "details")


@editForm(("company/" + company.getIdAsString() + "/edit")) {
    <div class="row">
        @textfield(name: "name", value: company.getName(), labelKey: "Company.name", required: true)
        @textfield(span: "3", name: "customerNumber", value: company.getCustomerNumber(), labelKey: "Company.customerNumber")
        @textfield(span: "3", name: "matchcode", value:    company.getMatchcode(), labelKey: "Company.matchcode")
    </div>

    <div class="row">
        @textfield(span: "6", name: "name2",value: company.getName2(), labelKey: "Company.name2")
        @textfield(span: "6", name: "website", value: company.getWebsite(), labelKey: "Company.website")
    </div>

    <div class="row">
        <div class="col-md-6">
            @subHeading("Company.address")
            <div class="row">
                @textfield(span: "12", name: "address_street", value: company.getAddress().getStreet(), labelKey: "AddressData.street")
                @textfield(span: "4", name: "address_zip", value: company.getAddress().getZip(), labelKey: "AddressData.zip")
                @textfield(span: "8", name: "address_city", value: company.getAddress().getCity(), labelKey: "AddressData.city")
                @codelistSelect(span: "12", list: "countries", name: "address_country",
                    value: company.getAddress().getCountry(), labelKey: "AddressData.country", optional: true)
            </div>
        </div>
        <div class="col-md-6">
            @subHeading("Company.postboxAddress")
            <div class="row">
                @textfield(span: "12", name: "postboxAddress_street", value: company.getPostboxAddress().getStreet(), labelKey: "PostboxAddressData.street")
                @textfield(span: "4", name: "postboxAddress_zip", value: company.getPostboxAddress().getZip(), labelKey: "AddressData.zip")
                @textfield(span: "8", name: "postboxAddress_city", value: company.getPostboxAddress().getCity(), labelKey: "AddressData.city")
                @codelistSelect(span: "12", list: "countries", name: "postboxAddress_country",
                  value: company.getPostboxAddress().getCountry(), labelKey: "AddressData.country", optional: true)
            </div>
        </div>
    </div>
    @subHeading("Company.contact")
    <div class="row">
        @textfield(span: "6", name: "contact_email", value: company.getContact().getEmail(), labelKey: "ContactData.email")
        @textfield(span: "6", name: "contact_fax", value: company.getContact().getFax(), labelKey: "ContactData.fax")
        @textfield(span: "6", name: "contact_phone", value: company.getContact().getPhone(), labelKey: "ContactData.phone")
        @textfield(span: "6", name: "contact_mobile", value: company.getContact().getMobile(), labelKey: "ContactData.mobile")
    </div>
    <div class="row">
        @autocompleteMultiSelect(span: "12", name: "tags", labelKey: "Tag.plural", serviceUri: "tags/COMPANY/autocomplete", optional: true) {
            @for(woody.core.tags.Tag t : company.getTags().getTags()) {
                <option value="@t.getName()" selected>@t.getName()</option>
            }
         }
    </div>

}

@formBar() {
    @tracing(company.getTrace())
}

