@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.xrm.Company company, String page
@extends(view.wondergem.template.html, title: (company.toString()))

@section(breadcrumbs) {
    <li>
        <a href="@prefix/companies">@i18n("Company.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()">@company</a>
    </li>
}

@pageHeader("Company")

<div class="row">
    @if (!company.isNew()) {
        <div class="col-md-3">
            @navbox() {
                <li class="nav-header">@i18n("Model.details")</li>
                <li>
                    Name: <b>@company.getName()</b>
                </li>
                <li>
                    Ort: @company.getAddress().getCity()
                </li>
                <li>
                    Nr.: @company.getCustomerNr()
                </li>


                <li class="nav-header"></li>
                <li @if(page == "details") { class="active" }>
                    <a href="@prefix/company/@company.getId()" class="link">
                        <i class="icon-users"></i>@i18n("Model.details")
                    </a>
                </li>

                <li @if(page == "persons") { class="active" }>
                    <a href="@prefix/company/@company.getId()/persons" class="link">
                        <i class="icon-users"></i>@i18n("Person.plural")
                    </a>
                </li>

                <li @if(page == "contracts") { class="active" }>
                    <a href="@prefix/company/@company.getId()/contracts" class="link">
                        <i class="icon-users"></i>@i18n("Contract.plural")
                    </a>
                </li>
                <li @if(page == "offers") { class="active" }>
                    <a href="@prefix/company/@company.getId()/offers" class="link">
                        <i class="icon-users"></i>@i18n("Offer.plural")
                    </a>
                </li>
                <li @if(page == "opportunities") { class="active" }>
                    <a href="@prefix/company/@company.getId()/opportunities" class="link">
                        <i class="icon-users"></i>@i18n("Opportunity.plural")
                    </a>
                    </li>
                <li>
                    <a href="@prefix/company/@company.getId()/customerNr" class="link">
                        <i class="icon-users"></i>Kundenummer generieren
                    </a>
                </li>


            }

            <a href="@prefix/company/@company.getId()" class="btn btn-block">@i18n("NLS.back")</a>
        </div>
    }
    <div class="@if (company.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
