@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.xrm.Person
@args Page persons
@extends(view.wondergem.template.html, title: NLS.get("Person.plural"))

@section(breadcrumbs) {


<li>
        <a href="/persons">@i18n("Person.plural")</a>
    </li>
}

@pageHeader("Person.plural")

@tableSearchHeader(persons, "persons") {
    <a class="btn btn-primary" href="@prefix/person/new">@i18n("Model.create")</a>
}

@table(persons) {
    <thead>
        <tr>
            <th>
                @i18n("PersonData.lastname")<br>
                <span class="muted">@i18n("PersonData.firstname")</span>
            </th>
            <th>
                @i18n("ContactData.phone")
            </th>
            <th>
                @i18n("ContactData.email")
            </th>
            <th>
                @i18n("ContactData.mobile")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Person person : persons.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/person/@person.getId()">@person.getPerson().getLastname()</a><br>
                <span class="muted">@person.getPerson().getFirstname()</span>
            </td>
            <td>
                @person.getContact().getPhone()
            </td>
            <td>
                @person.getContact().getEmail()
            </td>
            <td>
                @person.getContact().getMobile()
            </td>

            <td class="col-md-2 align-center">
                @deleteLink(("person/" + person.getId() + "/delete?" + persons.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(persons, "persons")