@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.xrm.Person
@args Company company, Page persons, String suggestions
@extends(view.xrm.company.html, company, "persons")

@section(breadcrumbs) {
    <li><a href="/companies">@i18n("Company.plural")</a></li>
    <li><a href="/company/@company.getId()">@company.getName()</a></li>
    <li><a href="/company/@company.getId()/persons">@i18n("Person.plural")</a></li>
}

@magicsearch(persons, ("company/" + company.getId() + "/persons"), "persons/suggest", suggestions) {
    <a class="btn btn-primary" href="/company/@company.getId()/person/edit/new">@i18n("Model.create")</a>
}

@table(persons) {
    <thead>
        <tr>
            <th>
                @i18n("Model.name")
            </th>
            <th>
                @i18n("Tag.plural")<br>
                <span class="muted">@i18n("Relation.plural")</span>
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Person person : persons.getItems()) {
        <tr>
            <td>
                <a class="link" href="/company/@company.getId()/person/@person.getId()">@person.getPerson().getLastname()</a><br>
                <span class="muted">@person.getPerson().getFirstname()</span>
            </td>
            <td>
                @for(woody.core.tags.Tag t : person.getTags().getTags()) {
                    @if (t.isViewInList()) {
                        <span class="badge">@t.getName()</span>
                    }
                }
                <br>
                @for(String relation : person.getRelations().getListRelations()) {
                    <span class="badge">@relation</span>
                }
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("company/" + company.getId() + "/person/" + person.getId() + "/delete?" + persons.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(persons, ("company/" + company.getId() + "/persons"))