@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.xrm.Person
@args Company company, Page persons, String suggestions
@extends(view.xrm.company.html, company, "persons")

@section(breadcrumbs) {
    <li><a href="/companies">@i18n("Company.plural")</a></li>
    <li><a href="/company/@company.getId()">@company.getName()</a></li>
    <li><a href="/company/@company.getId()/persons">@i18n("Person.plural")</a></li>
}

@magicsearch(persons, ("company/" + company.getId() + "/persons"), "persons/suggest", suggestions) {
    <a class="btn btn-primary" href="/company/@company.getId()/person/new">@i18n("Model.create")</a>
}

@table(persons) {
    <thead>
        <tr>
            <th>
                @i18n("PersonData.lastname")<br>
                <span class="muted">@i18n("PersonData.firstname")</span>
            </th>
            <th>
                @i18n("ContactData.phone")
            </th>
            <th>
                @i18n("ContactData.email")
            </th>
            <th>
                @i18n("ContactData.mobile")
            </th>

            <th>
                @i18n("Person.offline")
            </th>

            <th />
        </tr>
    </thead>
    <tbody>
    @for(Person person : persons.getItems()) {
        <tr>
            <td>
                <a class="link" href="/company/@company.getId()/person/@person.getId()">@person.getPerson().getLastname()</a><br>
                <span class="muted">@person.getPerson().getFirstname()</span>
            </td>
            <td>
                @person.getContact().getPhone()
            </td>
            <td>
                @person.getContact().getEmail()
            </td>
            <td>
                @person.getContact().getMobile()
            </td>
            <td>
                @checkbox(span: "4", name: "offline",
                value: person.isOffline(),
                labelKey: "Person.offline")
            </td>

            <td class="col-md-2 align-center">
                @deleteLink(("company/" + company.getId() + "/person/" + person.getId() + "/delete?" + persons.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(persons, ("company/" + company.getId() + "/persons"))