@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.xrm.Person
@args Company company, Person person
@extends(view.xrm.person.html, company, person, "details")


@editForm(("company/" + company.getIdAsString() + "/person/" + person.getIdAsString())) {
    <div class="row">
        @codelistSelect(span: "2", list: "salutations", name: "person_salutation", value: person.getPerson().getSalutation(), labelKey: "PersonData.salutation")
        @textfield(span: "2", name: "person_title", value: person.getPerson().getTitle(), labelKey: "PersonData.title")
        @textfield(span: "4", name: "person_lastname", value: person.getPerson().getLastname(), labelKey: "PersonData.lastname", required: true)
        @textfield(span: "3", name: "person_firstname", value: person.getPerson().getFirstname(), labelKey: "PersonData.firstname")
        @checkbox(span: "1", name: "offline", value: person.isOffline(),labelKey: "Person.offline")
    </div>

    <div class="row">
        @autocompleteMultiSelect(span: "12", name: "tags", labelKey: "Tag.plural", serviceUri: "tags/PERSON/autocomplete", optional: true) {
            @for(woody.core.tags.Tag t : person.getTags().getTags()) {
                <option value="@t.getName()" selected>@t.getName()</option>
            }
         }
    </div>

    @heading("Person.contact")
    <div class="row">
        @textfield(name: "contact_phone", value: person.getContact().getPhone(), labelKey: "ContactData.phone")
        @textfield(name: "contact_email", value: person.getContact().getEmail(), labelKey: "ContactData.email")
        @textfield(name: "contact_mobile", value: person.getContact().getMobile(),labelKey: "ContactData.mobile")
        @textfield(name: "contact_fax", value: person.getContact().getFax(), labelKey: "ContactData.fax")
    </div>

    @heading("Model.address")
    <div class="row">
        @textfield(span: "4", name: "address_street", value: person.getAddress().getStreet(), labelKey: "AddressData.street")
        @textfield(span: "2", name: "address_zip", value: person.getAddress().getZip(), labelKey: "AddressData.zip")
        @textfield(span: "3", name: "address_city", value: person.getAddress().getCity(), labelKey: "AddressData.city")
        @codelistSelect(span: "3", list: "countries", name: "address_country", value: person.getAddress().getCountry(), labelKey: "AddressData.country")
    </div>
}

@formBar() {
    @tracing(person.getTrace())
}


