@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Person
@args Page persons, String suggestions
@extends(view.wondergem.template.html, title: NLS.get("Person.plural"))

@section(breadcrumbs) {
    <li><a href="/persons">@i18n("Person.plural")</a></li>
}

@magicsearch(persons, "persons", "persons/suggest", suggestions) {
}

@table(persons) {
    <thead>
        <tr>
            <th>
                @i18n("Model.name")<br>
                <span class="muted">@i18n("Model.company")</span>
            </th>
            <th>
                @i18n("Tag.plural")<br>
                <span class="muted">@i18n("Relation.plural")</span>
            </th>
        </tr>
    </thead>
    <tbody>
    @for(Person person : persons.getItems()) {
        <tr>
            <td>
                <a class="link" href="/company/@person.getCompany().getId()/person/@person.getId()">@person</a><br>
                <span class="small"><a class="link" href="/company/@person.getCompany().getId()">@person.getCompany().getValue().getName()</a></span>
            </td>
            <td>
                @for(woody.core.tags.Tag t : person.getTags().getTags()) {
                    @if (t.isViewInList()) {
                        <span class="badge">@t.getName()</span>
                    }
                }
                <br>
                @for(String relation : person.getRelations().getListRelations()) {
                    <span class="badge">@relation</span>
                }
            </td>
        </tr>
    }
    </tbody>
}

@pagination(persons, "persons")