@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args Page tasks, String suggestions
@extends(view.wondergem.template.html, title: NLS.get("Task.plural"))

@section(breadcrumbs) {
    <li><a href="/task">@i18n("Task.plural")</a></li>
}

@pageHeader("Task.plural")

@magicsearch(tasks, "tasks", "tasks/suggest", suggestions) {
    <a class="btn btn-primary" href="@prefix/task/new">@i18n("Model.create")</a>
}

@table(tasks) {
    <thead>
        <tr>
            <th>
                @i18n("Model.id")<br>
                @i18n("Task.age")
            </th>
            <th>
                @i18n("Task.description")<br>
                @i18n("Tag.plural")
            </th>
            <th>
                @i18n("Task.person")<br>
                @i18n("Task.project")
            </th>
            <th>
                @i18n("Task.reporter")<br>
                @i18n("Task.assigned")
            </th>
        </tr>
    </thead>
    <tbody>
    @for(woody.tasks.Task task : tasks.getItems()) {
        <tr>
            <td>
                @task.getId()<br>
                <span title="@NLS.toUserString(task.getTrace().getCreatedAt())">@task.getAge()</span>
            </td>
            <td>
                <a class="link" href="@prefix/task/@task.getId()">@task.getDescription()</a><br>
                <i><small>@task.getTags().getTagsAsString()</small></i>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    }
    </tbody>
}

@pagination(tasks, "tasks")