@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@

@extends(view.wondergem.template.html, title: "woody")

@pageHeader("Welcome to woody")

<table>
    <tr><td><a class="link" href="/companies">Firmen</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/licenceAccounting">Lizenz-Abrechung starten</a></td></tr>
    <tr><td><a class="link" href="/exportLineitems">Export der Lizenz-Rechnungspositionen</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/serviceAccounting">Service-Abrechung starten</a></td></tr>
    <tr><td><a class="link" href="/exportInvoiceitems">Export der Service-Rechnungspositionen</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/system/logs">Log-Dateien</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/system/jobs">Jobs</a></td></tr>
</table>

