@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@

@extends(view.wondergem.template.html, title: "woody")

@pageHeader("Welcome to woody")

<table>
    <tr><td><a class="link" href="/companies">Firmen</a></td></tr>
    <tr><td><a class="link" href="/products">Produkte</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/migrateCrmToWoody">Crm zu Woody migrieren</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/licenceAccounting">Lizenz-Abrechung starten</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/exportAuslandLicenceLineitems">Export der Ausland Lizenz-Rechnungspositionen</a></td></tr>
    <tr><td><a class="link" href="/exportAllLicenceLineitems">Export aller Lizenz-Rechnungspositionen</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/serviceAccounting">Service-Abrechung starten</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/exportAuslandServiceLineitems">Export der Ausland Service-Rechnungspositionen</a></td></tr>
    <tr><td><a class="link" href="/exportAllServiceLineitems">Export aller Service-Rechnungspositionen</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/system/logs">Log-Dateien</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/system/jobs">Jobs</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/generateCollmexString">CollmexString generieren</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a class="link" href="/connectCollmex">Collmex aufrufen</a></td></tr>
</table>

