@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.core.employees.Department department, List departments, List accounts
@extends(view.wondergem.template.html, title: NLS.get("Model.department"))

@section(breadcrumbs) {
    <li><a href="/departments">@i18n("Department.plural")</a></li>
    <li><a href="/department/@department.getIdAsString()">@i18n("Model.department")</a></li>
}

@pageHeader("Model.department")


@editForm(("department/" + department.getIdAsString())) {
    <div class="row">
        @textfield(name: "code",
                    value: department.getCode(),
                    labelKey: "Model.code",
                    span: "6",
                    required: true)
        @textfield(name: "name",
                    value: department.getName(),
                    labelKey: "Model.name",
                    span: "6",
                    required: true)
    </div>
    <div class="row">
        @textfield(name: "description",
                    value: department.getDescription(),
                    labelKey: "Model.description",
                    span: "12")
    </div>
    <div class="row">
        @singleSelect(span: "6",
                      name: "parent",
                      optional: true,
                      labelKey: "Department.parent") {
            @for(woody.core.employees.Department possibleParent : departments) {
                <option value="@possibleParent.getId()"
                        @if (department.getParent().is(possibleParent)) { selected="selected" }>@possibleParent.getName() (@possibleParent.getCode())</option>
            }
        }
        @singleSelect(span: "6",
                      name: "supervisor",
                      optional: true,
                      labelKey: "Department.supervisor") {
            @for(sirius.biz.tenants.UserAccount account : accounts) {
                <option value="@account.getId()"
                        @if (department.getSupervisor().is(account)) { selected="selected" }>@account.getPerson()</option>
            }
        }
    </div>
}

@formBar("departments") {
    @tracing(department.getTrace())
}
