@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.core.employees.Department
@args Page departments
@extends(view.wondergem.template.html, title: NLS.get("Department.plural"))

@section(breadcrumbs) {
    <li><a href="/departments">@i18n("Department.plural")</a></li>
}

@pageHeader("Department.plural")

@tableSearchHeader(departments, "departments") {
    <a class="btn btn-primary" href="@prefix/department/new">@i18n("Model.create")</a>
}

@table(departments) {
    <thead>
        <tr>
            <th>
                @i18n("Model.name")<br>
                <span class="muted">@i18n("Model.code")</span>
            </th>
            <th>
                @i18n("Department.parent")<br>
                <span class="muted">@i18n("Model.code")</span>
            </th>
            <th>
                @i18n("Department.supervisor")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Department department : departments.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/department/@department.getId()">@department.getName()</a><br>
                <span class="muted">@department.getCode()</span>
            </td>
            <td>
                @if (department.getParent().isFilled()) {
                    @department.getParent().getValue().getName()<br>
                    <span class="muted">@department.getParent().getValue().getCode()</span>
                }
            </td>
            <td>
                @if (department.getSupervisor().isFilled()) {
                    @department.getSupervisor().getValue().getPerson()
                }
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("department/" + department.getId() + "/delete?" + departments.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(departments, "departments")