@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.core.employees.Employee
@import sirius.biz.tenants.UserAccount
@args UserAccount account
@extends(view.tenants.user-account.html, account, "employee")

@editForm(("user-account/" + account.getIdAsString() + "/employee")) {
    <div class="row">
        @textfield(span:     "4",
                   name:     "Employee_employeeNumber",
                   value:    account.as(Employee.class).getEmployeeNumber(),
                   labelKey: "Employee.employeeNumber")
        @textfield(span:     "4",
                   name:     "Employee_shortName",
                   value:    account.as(Employee.class).getShortName(),
                   labelKey: "Employee.shortName")
        @textfield(span:     "4",
                   name:     "Employee_phoneExtension",
                   value:    account.as(Employee.class).getPhoneExtension(),
                   labelKey: "Employee.phoneExtension")

    </div>
    <div class="row">
        <div class="col-md-6">
            @subHeading("Employee.personalContact")
            <div class="row">
                @textfield(span: "12",
                           name: "personalContact_email",
                           value: account.as(Employee.class).getPersonalContact().getEmail(),
                           labelKey: "ContactData.email")
                @textfield(span: "12",
                           name: "personalContact_phone",
                           value: account.as(Employee.class).getPersonalContact().getPhone(),
                           labelKey: "ContactData.phone")
                @textfield(span: "12",
                           name: "personalContact_mobile",
                           value: account.as(Employee.class).getPersonalContact().getMobile(),
                           labelKey: "ContactData.mobile")
            </div>
        </div>
        <div class="col-md-6">
            @subHeading("Employee.personalAddress")
            <div class="row">
                @textfield(span: "12",
                           name: "personalAddress_street",
                           value: account.as(Employee.class).getPersonalAddress().getStreet(),
                           labelKey: "AddressData.street")
                @textfield(span: "4",
                           name: "personalAddress_zip",
                           value: account.as(Employee.class).getPersonalAddress().getZip(),
                           labelKey: "AddressData.zip")
                @textfield(span: "8",
                           name: "personalAddress_city",
                           value: account.as(Employee.class).getPersonalAddress().getCity(),
                           labelKey: "AddressData.city")
            </div>
        </div>
    </div>
    @subHeading("Employee.dates")
    <div class="row">
        @datefield(span:     "4",
                     name:     "Employee_birthday",
                     value:    (NLS.toUserString(account.as(Employee.class).getBirthday())),
                     labelKey: "Employee.birthday")
        @datefield(span:     "4",
             name:     "Employee_joinDate",
             value:    (NLS.toUserString(account.as(Employee.class).getJoinDate())),
             labelKey: "Employee.joinDate")
        @datefield(span:     "4",
             name:     "Employee_dischargeDate",
             value:    (NLS.toUserString(account.as(Employee.class).getDischargeDate())),
             labelKey: "Employee.dischargeDate")
    </div>
}

@formBar()
