@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.sales.accounting.Contract
@args Company company, Page contracts, String suggestions
@extends(view.xrm.company.html, company, "contracts")

@section(breadcrumbs) {

    <li><a href="/companies">@i18n("Company.plural")</a></li>
    <li><a href="/company/@company.getId()">@company.getName()</a></li>
    <li><a href="/company/@company.getId()/contracts">@i18n("Contract.plural")</a></li>
}

@magicsearch(contracts, ("company/" + company.getId() + "/contracts"), "contracts/suggest", suggestions) {
    <a class="btn btn-primary" href="/company/@company.getId()/contract/new">@i18n("Model.create")</a>
}

@table(contracts) {
    <thead>
        <tr>
            <th>
                @i18n("Contract.accountingGroup")
            </th>
            <th>
                @i18n("Contract.quantity")
            </th>
            <th>
                @i18n("Contract.packageDefinition")
            </th>
            <th>
                @i18n("PackageDefinition.product")
            </th>
            <th>
                @i18n("Contract.startDate")
            </th>
            <th>
                @i18n("Contract.accountedTo")
            </th>
            <th>
                @i18n("Contract.endDate")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Contract contract : contracts.getItems()) {
        <tr>
            <td>
                @contract.getAccountingGroup()
            </td>
            <td>
                @if(contract.getQuantity() == null) {1} else {@contract.getQuantity()}
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/contract/@contract.getId()">@contract.getPackageDefinition().getValue().getName()</a>
            </td>

            <td>
                @contract.getPackageDefinition().getValue().getProduct().getValue().getName()
            </td>
            <td>
                @NLS.toUserString(contract.getStartDate())
            </td>
            <td>
                @if(contract.getAccountedTo() == null) {offen} else
                    {@NLS.toUserString(contract.getAccountedTo())}
            </td>
            <td>
                @if(contract.getEndDate() == null) {offen} else
                    {@NLS.toUserString(contract.getEndDate())}
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("company/"+company.getId() + "/contract/" + contract.getId() + "/delete?" + contracts.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(contracts, "contracts")
