@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*  ??? @includeExtensions("view-company-details", company)
*@
@import woody.xrm.Company
@args Company company, woody.xrm.CompanyController controller
@extends(view.xrm.company.html, company, "details")


@editForm(("company/" + company.getIdAsString())) {

   Abrechnung
    <div class="row">
        @textfield(name:     "invoiceMailAdr",
        value:    company.getInvoiceMailAdr(),
        labelKey: "Company.invoiceMailAdr")

        @codelistSelect(list:  CompanyAccountingData.INVOICEMEDIUM_CODELIST,
        name:     "invoiceMedium",
        value:    company.getInvoiceMedium(),
        labelKey: "Company.invoiceMedium")
    </div>

    <div class="row">
        @textfield(name:     "ptPrice",
        value:    NLS.toUserString(company.getPtPrice()),
        labelKey: "Company.ptPrice")
    </div>
    Rechnungsanschrift
    <div class="row">
        @textfield(span: "2",
        name:     "invoiceAddress_zip",
        value:    company.getInvoiceAddress().getZip(),
        labelKey: "AddressData.zip")

        @textfield(span:"4",
        name:     "invoiceAddress_city",
        value:    company.getInvoiceAddress().getCity(),
        labelKey: "AddressData.city")

        @textfield(span: "5",
        name:     "invoiceAddress_street",
        value:    company.getInvoiceAddress().getStreet(),
        labelKey: "AddressData.street")

        @textfield(span: "1",
        name:     "invoiceAddress_country",
        value:    company.getInvoiceAddress().getCountry(),
        labelKey: "AddressData.country")
    </div>


}

@formBar() {
    @tracing(company.getTrace())
}


