@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@

@import woody.xrm.Company
@import woody.xrm.Person
@import woody.sales.Contract
@import woody.sales.AccountingIntervalType
@import woody.sales.PackageDefinition
@import woody.sales.Product
@import woody.sales.ContractSinglePriceType
@args Company company, Contract contract
@extends(view.sales.contract.html, contract, "details")

@editForm(("company/" + company.getIdAsString() + "/contract/" + contract.getIdAsString())) {
    <div class="row">
      @singleSelect(span: "5", name: "packageDefinition",
      labelKey: "Contract.packageDefinition") {
         @for(PackageDefinition packageDefinition : contract.getAllPackageDefinitionsDirect()) {
            <option value="@packageDefinition.getId()"
                    @if (contract.getPackageDefinition().is(packageDefinition)  )
                    { selected="selected" }>@packageDefinition.toString()</option>
         }
      }

        @textfield(span: "3", name:     "quantity",
        value:    NLS.toUserString(contract.getQuantity()),
        labelKey: "Contract.quantity")

    </div>

    <div class="row">
        @textfield(span: "4", name:     "unitPrice",
      value:    NLS.toUserString(contract.getUnitPrice()),
      labelKey: "Contract.unitPrice")

      @textfield(, span: "4", name:     "singlePrice",
      value:    NLS.toUserString(contract.getSinglePrice()),
      labelKey: "Contract.singlePrice")

      @singleSelect(span: "4", name: "singlePriceState",
      labelKey: "Contract.singlePriceState") {
         @for(ContractSinglePriceType singlePriceState : ContractSinglePriceType.values()) {
            <option value="@singlePriceState.name()" @if (singlePriceState == contract.getSinglePriceState()) { selected="selected" }>@singlePriceState.toString()</option>
         }
      }
        @textfield(span: "4", name:     "discountPercent",
        value:    NLS.toUserString(contract.getDiscountPercent()),
        labelKey: "Contract.discountPercent")

        @textfield(span: "4", name:     "discountAbsolute",
        value:    NLS.toUserString(contract.getDiscountAbsolute()),
        labelKey: "Contract.discountAbsolute")

    </div>

    <div class="row">
        @singleSelect(span: "4", name: "accountingInterval",
        labelKey: "Contract.accountingInterval") {
            @for(AccountingIntervalType accountingIntervalType : AccountingIntervalType.values()) {
                <option value="@accountingIntervalType.name()" @if (accountingIntervalType == contract.getAccountingInterval()) { selected="selected" }>@accountingIntervalType.toString()</option>
            }
        }

        @textfield(span: "4", name:     "accountingGroup",
        value:    contract.getAccountingGroup(),
        labelKey: "Contract.accountingGroup")

        @checkbox(span: "4", name: "noAccounting",
        value: contract.isNoAccounting(),
        labelKey: "Contract.noAccounting")
    </div>

    <div class="row">
        @textfield(span: "4", name:     "startDate",
        value:    NLS.toUserString(contract.getStartDate()),
        labelKey: "Contract.startDate")

        @textfield(span: "4", name:     "accountedTo",
        value:    NLS.toUserString(contract.getAccountedTo()),
        labelKey: "Contract.accountedTo")

        @textfield(span: "4", name:     "endDate",
        value:    NLS.toUserString(contract.getEndDate()),
        labelKey: "Contract.endDate")

        @textfield(name:     "signingDate",
        value:    NLS.toUserString(contract.getSigningDate()),
        labelKey: "Contract.signingDate")


        @singleSelect(span: "4", name: "contractPartner",
        labelKey: "Contract.contractPartner") {
            @for(Person person : contract.getAllPersonsForCompany(company)) {
                <option value="@person.getId()" @if (contract.getContractPartner().is(person) ){ selected="selected" }>@person.toString()</option>
            }
        }


        @textfield(span: "2", name:     "position",
        value:    NLS.toUserString(contract.getPosition()),
        labelKey: "Contract.position")

        @textfield(span: "10", name:     "posLine",
        value:    contract.getPosLine(),
        labelKey: "Contract.posLine")
    </div>

    <div class="row">
        @textarea(span: "12", name:     "parameter",
        value:    contract.getParameter(),
        labelKey: "Contract.parameter")

        @textarea(span: "12", name:     "comments",
        value:    contract.getComments(),
        labelKey: "Contract.comments")
    </div>
    }

@formBar() {
    @tracing(contract.getTrace())
}


