@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.sales.accounting.Contract contract, String page
@extends(view.wondergem.template.html, title: (contract.toString()))

@section(head) {
    <script src="/assets/wondergem/ace/ace.js" type="text/javascript"></script>
}

@section(breadcrumbs) {
    <li>
        <a href="@prefix/company-contracts">@i18n("Contract.plural")</a>
    </li>
    <li>
        <a href="@prefix/contract/@contract.getId()">@contract</a>
    </li>
}

@pageHeader("Contract")

<div class="row">
    @if (!contract.isNew()) {
    <div class="col-md-3">
        @navbox() {
            <li class="nav-header">@i18n("Model.details")</li>
            <li>
                <b>@contract.toString()</b>
            </li>

            <li class="nav-header"></li>
            <li @if(page == "details") { class="active" }>
                <a href="@prefix/contract/@contract.getId()" class="link">
                    <i class="icon-users"></i>@i18n("Model.details")
                </a>
            </li>
        }
        <a href="@prefix/company/@contract.getCompany().getValue().getId()/contracts" class="btn btn-block">@i18n("NLS.back")</a>
    </div>
    }
    <div class="@if (contract.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
