@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.sales.PackageDefinition packageDefinition, String page
@extends(view.wondergem.template.html, title: (packageDefinition.toString()))

@section(head) {

<script src="/assets/wondergem/ace/ace.js" type="text/javascript"></script>
}

@section(breadcrumbs) {
    <li>
        <a href="@prefix/product-packageDefinitions">@i18n("PackageDefinition.plural")</a>
    </li>
    <li>
        <a href="@prefix/packageDefinition/@packageDefinition.getId()">@packageDefinition</a>
    </li>
}

@pageHeader("PackageDefinition")

<div class="row">
    @if (!packageDefinition.isNew()) {
    <div class="col-md-3">
        @navbox() {
            <li class="nav-header">@i18n("Model.details")</li>
            <li>
                <b>@packageDefinition.getName()</b>
            </li>

            <li class="nav-header"></li>
            <li @if(page == "details") { class="active" }>
                <a href="@prefix/packageDefinition/@packageDefinition.getId()" class="link">
                    <i class="icon-users"></i>@i18n("Model.details")
                </a>
            </li>
        }
        <a href="@prefix/product/@packageDefinition.getProduct().getValue().getId()/packageDefinitions" class="btn btn-block">@i18n("NLS.back")</a>
    </div>
    }
    <div class="@if (packageDefinition.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
