@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*  ??? @includeExtensions("view-company-details", company)
*@
@import woody.sales.PackageDefinition
@args PackageDefinition packageDefinition, woody.sales.SalesController controller
@extends(view.sales.packageDefinition.html, packageDefinition, "details")


@editForm(("packageDefinition/" + packageDefinition.getIdAsString())) {
    <div class="row">
        @textfield(name:     "name",
        value:    packageDefinition.getName(),
        labelKey: "PackageDefinition.name",
        required: true)

        @codelistSelect(list:  PackageDefinition.PAKETTYPE_CODELIST,
        name: "paketType",
        value:    packageDefinition.getPaketType(),
        labelKey: "PackageDefinition.paketType")

        @codelistSelect(list:  PackageDefinition.ACCOUNTINGUNIT_CODELIST,
        name: "accountingUnit",
        value:    packageDefinition.getAccountingUnit(),
        labelKey: "PackageDefinition.accountingUnit")

        @codelistSelect(list:     PackageDefinition.ACCOUNTINGPROCEDURE_CODELIST,
        name: "accountingProcedure",
        value:    packageDefinition.getAccountingProcedure(),
        labelKey: "PackageDefinition.accountingProcedure")

        @textfield(name:     "singlePrice",
        value:    NLS.toUserString(packageDefinition.getSinglePrice()),
        labelKey: "PackageDefinition.singlePrice")

        @textfield(name:     "unitPrice",
        value:    NLS.toUserString(packageDefinition.getUnitPrice()),
        labelKey: "PackageDefinition.unitPrice")

        @textfield(name:     "defaultPosition",
        value:    NLS.toUserString(packageDefinition.getDefaultPosition()),
        labelKey: "PackageDefinition.defaultPosition")

        @textarea(name:     "description",
        value:    packageDefinition.getDescription(),
        labelKey: "PackageDefinition.description",
        readonly: false)

        @textarea(name:     "parameter",
        value:    packageDefinition.getParameter(),
        labelKey: "PackageDefinition.parameter",
        readonly: false)
    </div>


}

@formBar() {
    @tracing(packageDefinition.getTrace())
}


