@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.sales.Product
@args Page products
@extends(view.wondergem.template.html, title: NLS.get("Model.userAccount.plural"))

@section(breadcrumbs) {

    <li>
       <a href="/products">@i18n("Product.plural")</a>
    </li>
}

@pageHeader("Product.plural")

@tableSearchHeader(products, "products") {
    <a class="btn btn-primary" href="@prefix/product/new">@i18n("Model.create")</a>
}

@table(products) {
    <thead>
        <tr>
            <th>
                @i18n("Product.name")<br>
                <span class="muted">@i18n("Product.id")</span>
            </th>
            <th>
                @i18n("Product.article")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Product product : products.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/product/@product.getId()">@product.getName()</a><br>
                <span class="muted">@product.getId()</span>
            </td>
            <td>
                @product.getArticle()
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("product/" + product.getId() + "/delete?" + products.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(products, "products")