@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.sales.Product
@import woody.sales.PackageDefinition
@args Page packageDefinitions
@extends(view.wondergem.template.html, title: NLS.get("PackageDefinition.plural"))

@section(breadcrumbs) {
    <li>
        <a href="/packageDefinitions">@i18n("PackageDefinition.plural")</a>
    </li>
}

@pageHeader("PackageDefinition.plural")

@tableSearchHeader(packageDefinitions, "packageDefinitions") {
    <a class="btn btn-primary" href="@prefix/packageDefinition/new">@i18n("Model.create")</a>
}

@table(packageDefinitions) {
    <thead>
        <tr>
            <th>
                @i18n("PackageDefinition.name")<br>
                <span class="muted">@i18n("PackageDefinition.product")</span>
            </th>
            <th>
                @i18n("PackageDefinition.paketType")
            </th>
            <th>
                @i18n("PackageDefinition.accountingUnit")
            </th>
            <th>
                @i18n("PackageDefinition.singlePrice")
            </th>
            <th>
                @i18n("PackageDefinition.unitPrice")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(PackageDefinition packageDefinition : packageDefinitions.getItems()) {
        <tr>
            <td>
                <a class="link" href="@prefix/packageDefinition/@packageDefinition.getId()">@packageDefinition.getName()</a><br>
                <span class="muted">@packageDefinition.getProduct().getValue().getName()</span>
            </td>
            <td>
                 @codeLists.getValue("pakettype", packageDefinition.getPaketType())
            </td>
            <td>
                @codeLists.getValue("accountingUnit", packageDefinition.getAccountingUnit())
            </td>
            <td align = "right">
                @NLS.toUserString(packageDefinition.getSinglePrice() )
            </td>
            <td  align = "right">
                @NLS.toUserString(packageDefinition.getUnitPrice() )
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("packageDefinition/" + packageDefinition.getId() + "/delete?" + packageDefinitions.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(packageDefinitions, "packageDefinitions")