@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.servers.Server
@args Page servers, String suggestions
@extends(view.wondergem.template.html, title: NLS.get("Server.plural"))

@section(breadcrumbs) {
    <li><a href="/servers">@i18n("Server.plural")</a></li>
}

@pageHeader("Server.plural")

@magicsearch(servers, "servers", "servers/suggest", suggestions) {
    <a class="btn btn-primary" href="@prefix/server/new">@i18n("Model.create")</a>
}

@table(data: servers, colorized: true) {
    <thead>
        <tr>
            <th></th>
            <th>
                @i18n("Model.name")
            </th>
            <th>
                @i18n("Server.customer")
            </th>
            <th>
                @i18n("Server.url")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Server server : servers.getItems()) {
        <tr class="@server.getState().getCSSClass()">
            <td></td>
            <td>
                <a class="link" href="@prefix/server/@server.getId()">@server.getName()</a>
            </td>
            <td>
                @if (server.getCustomer().isFilled()) {
                    @server.getCustomer().getValue().getName()
                }
            </td>
            <td>
                @server.getUrl()
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("server/" + server.getId() + "/delete?" + servers.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(servers, "servers")