@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.servers.ServerCredentials
@import sirius.biz.tenants.UserAccount
@args UserAccount account
@extends(view.tenants.user-account.html, account, "server-credentials")

<form action="@prefix/user-account/@account.getIdAsString()/server-credentials" method="post" id="editForm">
    <div class="row">
        @view.wondergem.parts.textarea(span:     "8",
                                       name:     "ServerCredentials_publicKey",
                                       value:    account.as(ServerCredentials.class).getPublicKey(),
                                       labelKey: "ServerCredentials.publicKey",
                                       helpKey:  null,
                                       required: false,
                                       rows: 4)
    </div>
    <div class="row">
        @view.wondergem.parts.textfield(span:     "8",
                                     name:     "ServerCredentials_otpSecret",
                                     value:    account.as(ServerCredentials.class).getOtpSecret(),
                                     labelKey: "ServerCredentials.otpSecret",
                                     helpKey:  null)
    </div>
    <div class="form-actions">
        <a onclick="$('#editForm').submit()" class="btn btn-primary"><i class="icon-ok"></i> @i18n("NLS.save")</a>
    </div>
</form>
