@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.offers.Offer
@args Company company, Page offers, String suggestions
@extends(view.xrm.company.html, company, "offers")

@section(breadcrumbs) {
    <li><a href="/companies">@i18n("Company.plural")</a></li>
    <li><a href="/company/@company.getId()">@company.getName()</a></li>
    <li><a href="/company/@company.getId()/offers">@i18n("Offer.plural")</a></li>
}

@magicsearch(offers, ("company/" + company.getId() + "/offers"), "offers/suggest", suggestions) {
    <a class="btn btn-primary" href="/company/@company.getId()/offer/new">@i18n("Model.create")</a>
}

@table(offers) {
    <thead>
        <tr>
            <th>
                @i18n("Offer.number")
            </th>
            <th>
                @i18n("Offer.keyword")
            </th>
            <th>
                @i18n("Offer.state")
            </th>
            <th span: 5>@i18n("Offer")</th>
            <th />
            <th />
            <th />
            <th />
            <th />
        </tr>
    </thead>
    <tbody>
    @for(Offer offer : offers.getItems()) {
        <tr>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()">@offer.getNumber()</a>
            </td>
            <td>
                @offer.getKeyword()
            </td>
            <td>
                @i18n(offer.getState().toString())
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/viewOffer">anzeigen</a>
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/sendOffer">senden</a>
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/copyOffer">copy</a>
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/reCreateOffer">überarbeiten</a>
            </td>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/confirmOffer">bestätigen</a>
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("company/" + company.getId() + "/offer/" + offer.getId() + "/delete?" + offers.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(offers, ("company/" + company.getId() + "/offers"))