@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.core.employees.Employee
@args woody.xrm.Company company, woody.offers.Offer offer, String page
@extends(view.wondergem.template.html, title: (offer.toString()))


@section(breadcrumbs) {
    <li>
        <a href="@prefix/companies">@i18n("Company.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()">@company</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offers">@i18n("Offer.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offer/@offer.getId()">@offer</a>
    </li>
}

@pageHeader("Offer")

<div class="row">
    @if (!offer.isNew()) {
    <div class="col-md-3">
        @navbox() {
            <li class="nav-header">@i18n("Model.details")</li>
            <li><b>Angebot: @offer.getNumber()</b></li>
            <li><b>von: &nbsp; &nbsp;&nbsp;&nbsp; @offer.getEmployeeShortName()</b></li>
            <li><b>Status: &nbsp; @offer.getState().toString()</b></li>

            <li class="nav-header"></li>
            <li @if(page == "details") { class="active" }>
                <a href="@prefix/company/@company.getId()/offer/@offer.getId()/offerItems" class="link">
                    <i class="icon-users"></i>@i18n("OfferItem.plural")
                </a>
            </li>

    </div>

    <!--
            if(page == "details") {includeExtensions("offer-details", offer, page)}

        }
     -->

    <a href="@prefix/company/@offer.getCompany().getValue().getId()/offers" class="btn btn-block">@i18n("NLS.back")</a>
</div>
    }
    <div class="@if (offer.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
