@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.core.employees.Employee
@args woody.xrm.Company company, woody.sales.offers.Offer offer, woody.sales.offers.OfferItem offerItem, String page
@extends(view.wondergem.template.html, title: (offerItem.toString()))


@section(breadcrumbs) {

    <li>
        <a href="@prefix/companies">@i18n("Company.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()">@company</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offers">@i18n("Offer.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offer/@offer.getId()">@offer</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offer/@offer.getId()/offerItems">@i18n("OfferItem.plural")</a>
    </li>
    <li>
        <a href="@prefix/company/@company.getId()/offer/@offer.getId()/offerItem/@offerItem.getId()">@offerItem</a>
    </li>
}

@pageHeader("OfferItem")

<div class="row">
    @if (!offerItem.isNew()) {
        <div class="col-md-3">
            @navbox() {
                <li class="nav-header">@i18n("Model.details")</li>
                <li><b>Angebot: @offer.getNumber()</b></li>
                <li><b>an: @offer.getCompany().getValue().toString()</b></li>
                <li><b>von: &nbsp; &nbsp;&nbsp;&nbsp; @offer.getEmployeeShortName()</b></li>
            }
            <a href="@prefix/company/@offer.getCompany().getValue().getId()/offer/@offer.getId()/offerItems" class="btn btn-block">@i18n("NLS.back")</a>
        </div>
    }
    <div class="@if (offer.isNew()) { col-md-12 } else { col-md-9 }">
        @render
    </div>
</div>
