@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@import woody.xrm.Company
@import woody.offers.Offer
@import woody.offers.OfferItem
@args Company company, Offer offer, Page offerItems, String suggestions
@extends(view.offers.offer.html, company, offer, "offerItems")

@*
@section(breadcrumbs) {

<li><a href="/companies">@i18n("Company.plural")</a></li>
    <li><a href="/company/@company.getId()">@company.getName()</a></li>
    <li><a href="/company/@company.getId()/offers">@i18n("Offer.plural")</a></li>
}
*@

@magicsearch(offerItems, ("offer/" + offer.getId() + "/offers"), "offerItems/suggest", suggestions) {
    <a class="btn btn-primary" href="/offer/@offer.getId()/offerItem/new">@i18n("Model.create")</a>
}

@table(offerItems) {
    <thead>
        <tr>
            <th>
                @i18n("OfferItem.position")
            </th>
            <th>
                @i18n("OfferItem.state")
            </th>
            <th>
                @i18n("OfferItem.keyword")
            </th>
            <th >@i18n("OfferItem.offerDate")</th>
            <th >@i18n("OfferItem.orderDate")</th>
            <th >@i18n("OfferItem.salesConfirmationDate")</th>
            <th >@i18n("OfferItem.completionDate")</th>
            <th >@i18n("OfferItem.acceptanceDate")</th>
            <th >@i18n("OfferItem.accountingDate")</th>
            <th >Funktion</th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
    @for(OfferItem offerItem : offerItems.getItems()) {
        <tr>
            <td>
                <a class="link" href="/company/@company.getId()/offer/@offer.getId()/offerItem/@offerItem.getId()">@offerItem.getPosition()</a>
            </td>
            <td>
                @offerItem.getState().toString()
            </td>
            <td>
                @offerItem.getKeyword()
            </td>
            <td>
                @NLS.toUserString(offerItem.getOfferDate())
            </td>
            <td>
                @NLS.toUserString(offerItem.getOrderDate())
            </td>
            <td>
                @NLS.toUserString(offerItem.getSalesConfirmationDate())
            </td>
            <td>
                @NLS.toUserString(offerItem.getCompletionDate())
            </td>
            <td>
                @NLS.toUserString(offerItem.getAcceptanceDate())
            </td>
            <td>
                @NLS.toUserString(offerItem.getAccountingDate())
            </td>
            <td>
                @if(offerItem.showNextState()) {
                  <a class="link" href="/company/@company.getId()/offer/@offer.getId()/offerItem/@offerItem.getId()/nextState">next state</a>
                }
            </td>
            <td class="col-md-2 align-center">
                @deleteLink(("company/" + company.getId() +"/offer/" + offer.getId() + "/offerItem/" + offerItem.getId() + "/delete?" + offerItems.createQueryString()))
            </td>
        </tr>
    }
    </tbody>
}

@pagination(offerItems, ("offer/" + offer.getId() + "/offerItems"))