@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@

@import woody.xrm.Company
@import woody.xrm.Person
@import woody.sales.offers.Offer
@import woody.sales.offers.OfferState

@args Company company, Offer offer, List persons
@extends(view.offers.offer.html, company, offer, "details")

@editForm(("company/" + company.getIdAsString() + "/offer/" + offer.getIdAsString())) {
    <div class="row">

      @textfield( span: "3", name:     "number", value:    offer.getNumber(),
      labelKey: "Offer.number", readOnly: true )

      @textfield(span: "4", name:     "keyword",    value:    offer.getKeyword(),
      labelKey: "Offer.keyword",   required:true)
      @*
          @textfield(span: "4", name: "state", value: offer.getState().toString(),
          labelKey: "Offer.state",   required:true)

        @singleSelect(span: "4", name: "state",
        labelKey: "Offer.state") {
            @for(OfferState state : OfferState.values()) {
                <option value="@state.name()" @if (state == offer.getState()) { selected="selected" }>@state.toString()</option>
            }
        }
        *@

    </div>

    <div class="row">
        @textfield(span: "4", name: "date", value: NLS.toUserString(offer.getDate()), labelKey: "Offer.date")

        @singleSelect(span: "4", name: "person",
        labelKey: "Offer.person") {
            @for(Person person : persons) {
                <option value="@person.getId()" @if (offer.getPerson().is(person)) { selected="selected" }>@person.toString()</option>
            }
        }

        @singleSelect(span: "4", name: "buyer",
        labelKey: "Offer.buyer", optional: true) {
            @for(Person person : persons) {
                <option value="@person.getId()" @if (offer.getBuyer().is(person)) { selected="selected" }>@person.toString()</option>
            }
        }

    </div>

    <div class="row">
        @textfield(name:     "reference",
        value:    offer.getReference(),
        labelKey: "Offer.reference")
     </div>

    <tr>
        <td> <b>Angebot </b></td>
        <td>
            <a class="link" href="/company/@company.getId()/offer/@offer.getId()/viewOffer"> anzeigen </a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/offer/@offer.getId()/sendOffer"> senden </a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/offer/@offer.getId()/copyOffer"> copy </a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/offer/@offer.getId()/reCreateOffer"> überarbeiten </a>
        </td>
        <td>
            <a class="link" href="/company/@company.getId()/offer/@offer.getId()/confirmOffer"> bestätigen </a>
        </td>
    </tr>
}

@formBar() {
    @tracing(offer.getTrace())
}


