@if (user.getCurrentUser().hasPermission("permission-manage-xrm")) {
    <li><a href="@prefix/companies">@i18n("Company.plural")</a></li>
    <li><a href="@prefix/persons">@i18n("Person.plural")</a></li>
}
@if (user.getCurrentUser().hasPermission("permission-manage-tasks")) {
    <li><a href="@prefix/tasks">@i18n("Task.plural")</a></li>
}
@if (user.getCurrentUser().hasPermission("permission-manage-units") || user.getCurrentUser().hasPermission("permission-manage-inventory-items")) {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @i18n("Menu.organization")
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            @if (user.getCurrentUser().hasPermission("permission-manage-units")) {
                <li><a href="/units">@i18n("Unit.plural")</a></li>
            }
            @if (user.getCurrentUser().hasPermission("permission-manage-inventory-items")) {
                <li><a href="/inventory/items">@i18n("InventoryItem.plural")</a></li>
            }
            @if (user.getCurrentUser().hasPermission("permission-manage-inventory-items")) {
                <li><a href="/projects">@i18n("Project.plural")</a></li>
            }
        </ul>
    </li>
}
