@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args woody.core.units.Unit unit, List types
@extends(view.wondergem.template.html, title: NLS.get("Model.unit"))

@section(breadcrumbs) {
    <li><a href="/units">@i18n("Unit.plural")</a></li>
    <li><a href="/unit/@unit.getIdAsString()">@i18n("Model.unit")</a></li>
}

@pageHeader("Model.unit")


@editForm(("unit/" + unit.getIdAsString())) {
    <div class="row">
        @textfield(name: "name",
                    value: unit.getName(),
                    labelKey: "Model.name",
                    span: "6",
                    required: true)
        @textfield(name: "code",
                    value: unit.getCode(),
                    labelKey: "Model.code",
                    span: "6",
                    required: false)
    </div>
    <div class="row">
        @textfield(name: "description",
                    value: unit.getDescription(),
                    labelKey: "Model.description",
                    span: "12")
    </div>
    <div class="row">
        @if (unit.isNew()) {
            @singleSelect(span: "6",
                          name: "type",
                          labelKey: "Model.type") {
                @for(woody.core.units.UnitType type : types) {
                    <option value="@type.getId()"
                            @if (unit.getType().is(type)) { selected="selected" }>@type.getName()</option>
                }
            }
            @autocompleteSingleSelect(span: "6", name: "parent", labelKey: "Unit.parent", serviceUri: "units/autocomplete", optional: true) {
                @if (unit.getParent().isFilled()) {
                    <option value="@unit.getParent().getId()">@unit.getParent().getValue().getName()</option>
                }
             }
        } else {
            @textfield(name: "type",
                    value: unit.getType().getValue().getName(),
                    labelKey: "Model.type",
                    span: "6",
                    readonly: true)
            @textfield(name: "parent",
                    value: (unit.getParent().isFilled() ? unit.getParent().getValue().getName() : ""),
                    labelKey: "Unit.parent",
                    span: "6",
                    readonly: true)
        }
    </div>
    <div class="row">
        @autocompleteMultiSelect(span: "12", name: "tags", labelKey: "Tag.plural", serviceUri: "tags/UNIT/autocomplete", optional: true) {
            @for(woody.core.tags.Tag t : unit.getTags().getTags()) {
                <option value="@t.getName()" selected>@t.getName()</option>
            }
         }
    </div>

}

@formBar("units") {
    @tracing(unit.getTrace())
}

@if (!unit.isNew()) {
    <div class="row">
        <div class="col-md-6">
            @comments(unit.getUniqueName(), ("/unit/" + unit.getId()), unit.getComments())
        </div>
        <div class="col-md-6">
            @relations(unit.getUniqueName(), ("UNIT-" + unit.getType().getId()), ("/unit/" + unit.getId()), unit.getRelations())
        </div>
</div>
}

