.suggestion-query {
  font-style: italic;
}

.suggestion-tag {
  font-weight: bold;
  color: #888888;
}

.suggestion-nottag {
  font-weight: bold;
  color: #870d1b;
}

.relation {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-right: 5px;
  border-radius: 2px;
}