 #macro(xml $content)$content#end
 <html>

 <body style="font-family:sans-serif; font-size:10pt">

 <div style="width: 10cm; float: left">
    scireum GmbH<br />
    Eisenbahnstr. 24<br />
    73630 Remshalden
 </div>
 <div style="float:right">
     <img src="src/main/resources/default/templates/login_logo.png" style="width:4cm" />
 </div>

<div style=" padding-top: 1.5cm; clear:both; float:right">
 #xml($!dateString)
</div>

<div style=" padding-top: 0.5cm; clear:both">
 #xml($!company.name)<br />
 #xml($!street)<br />
 #xml($!city)<br />
 #if($company.isForeignCountry()) #xml($!company.getCountryName()) #end
</div>

<div style="padding-top: 2.5cm;font-weight: bold; font-size: 14pt">
$!headlinePrefix Angebot Nr. $!offer.number vom $nls.toUserString($offer.date) $!offerState
</div>
<br />
<table style="font-size:9pt">
 <tr><td>Kundennummer:</td><td> $!company.customerNr</td><td></td><td></td> </tr>
 <tr><td>Ihre Kontaktperson:</td><td> #xml($!personName),</td><td>Tel.: $!personPhone,</td><td>E-Mail: #xml($!personMail)  </td> </tr>
 <tr><td>Unsere Kontaktperson:</td><td>$!employeeName</td><td>Tel.: $!employeePhone,</td><td>E-Mail: #xml($!employeeMail)  </td></tr>
 #if($item.notEmpty($buyer))<tr><td>Ihr kfm. Besteller:</td><td>#xml($!buyerName)</td><td>Tel.: $!buyerPhone,</td><td>E-Mail: #xml($!buyerMail) </td></tr>   #end
 #if($item.notEmpty($offer.reference)) <tr><td>Ihre kfm. Referenz:</td><td colspan="3" >#xml($offer.reference)</td></tr>    #end
</table>

<br></br>
$!salutation
<br></br><br></br>
#xml($!offerline)

<br></br> <br></br><br></br>
<div style="font-weight: bold; font-size: 14pt;" >
   #xml($offer.keyword)
</div>
<br></br>
 <table>
      #foreach ($item in $offerItemList)
         #if($item.isInfoText())
                <br></br>
               <tr><th style="width:2cm" valign="top">Pos.</th><th>Information</th><th></th><th></th><th></th><th></th></tr>
               <tr><td style="width:2cm" valign="top">$item.position</td><td colspan = "4">$item.transformToHtml($item.text)</td></tr>
         #else
            #if($item.isSum())
                <br></br><br></br>
                <tr>
                    <th>Pos.</th><th>Information</th><th></th><th ></th><th style="width:4cm" align="right">einmaliger Preis</th><th style="width:4cm" align= "right">Preis je $licenceItemCyclicUnit</th>
                </tr>
                <tr>
                    <td >$item.position</td>
                    <td colspan = "3"><b>#xml($item.transformToHtml($item.text))</b></td>
                    <td align="right"><b>$nls.toUserString($item.singlePrice) €</b></td>
                    <td align="right"><b>$nls.toUserString($item.cyclicPrice) €</b></td>
                </tr>
                <br></br><br></br>
            #else
                <br></br>
                #if($item.isLicense())
                    <tr><th style="width:2cm" valign="top">Pos.</th><th>Menge</th><th></th><th>#if($item.stateIsVisible)Hinweis#end</th>
                        <th align="right">#if($item.isPackageDefinitionSinglePricePresent())einmaliger Preis#end</th>
                        <th align="right">Preis je $item.accountingUnitComplete</th>
                    </tr>
                #end
                #if($item.isService())
                    <tr><th>Pos.</th><th style="width:4cm">Menge</th><th style="width:4cm">Einzelpreis</th><th style="width:4cm">#if($item.stateIsVisible)Hinweis#end</th>
                    <th  style="width:4cm" align="right">einmaliger Preis</th><th style="width:4cm"></th></tr>
                #end
                <tr><td style="width:2cm" valign="top">$item.position</td>
                      #if($item.isLicense())
                          <td style="width:4cm">$nls.toUserString($item.quantity) Lizenz</td>
                      #end
                      #if($item.isService())
                        <td style="width:4cm">$nls.toUserString($item.quantity) $!item.accountingUnitComplete</td>
                      #end
                     #if($item.isService())
                         <td style="width:4cm">$nls.toUserString($item.singlePrice) € / $!item.accountingUnitComplete</td>
                     #end
                     #if($item.isLicense())
                        <td style="width:4cm">$item.getPackageDefinition().getValue().getName()</td>
                     #end

                     <td style="width:4cm">#if($item.stateIsVisible)$item.state#end</td>
                     #if($item.isService())
                        <td style="width:4cm" align="right">$item.singlePricePosition € </td>
                     #end
                     #if($item.isLicense())
                        <td style="width:4cm" align="right">#if($item.isPackageDefinitionSinglePricePresent())$item.singlePriceComplete € #end</td>
                        <td style="width:4cm" align="right">$item.cyclicPricePosition € </td>
                    #end
                </tr>
                #if($item.discountPresent)
                    <tr><td></td><td colspan = "4">Beim Preis wurde ein Rabatt von $nls.toUserString($item.discount) % berücksichtigt.</td></tr>
                #end
                #if($item.isLicense() )
                  #if($item.isContractStartDatePresent())
                    <tr><td></td><td colspan = "4">Die Nutzung der Lizenz beginnt ab $nls.toUserString($item.contractStartDate). Bis zu diesem Zeitpunkt gewähren wir Ihnen die Nutzung dieser Lizenz ohne Berechnung.</td></tr>
                  #end
                #end
                #if($item.notEmpty($item.keyword))
                     <tr><td></td> <td colspan = "4"><b>$item.transformToHtml($item.keyword)</b></td></tr>
                #end
                <tr><td></td> <td colspan = "4"> $item.transformToHtml($item.text)</td></tr>
            #end
         #end

      #end
 </table>

<hr></hr>

<table>
    <tr>
        <th style="width:13cm"></th><th style="width:4cm" align="right">einmaliger Preis</th><th style="width:3cm" align= "right">
           #if($isLicenceItemPresent)Preis je $licenceItemCyclicUnit #end</th>
    </tr>
      <tr><td style="width:13cm">End-Summe netto:</td><td align="right" style="width:4cm" >$priceNettoSum €</td><td style="width:3cm" align="right">
           #if($isLicenceItemPresent)$cyclicPriceNettoSum € #end</td></tr>
      #if(!$company.isForeignCountry())
              <tr><td style="width:13cm">zuzüglich $nls.toUserString($vatRateString) MWSt:</td> <td  align="right">$priceVatSum €</td><td  align="right">
                   #if($isLicenceItemPresent)$cyclicPriceVatSum € #else  #end</td></tr>
              <tr><td style="width:13cm">Endbetrag:</td><td  align="right">$priceBruttoSum €</td><td  align="right">
                   #if($isLicenceItemPresent)$cyclicPriceBruttoSum € #else  #end</td></tr>
      #end
</table>

<hr></hr>
<br></br>

#if($company.isForeignCountry())
    Der Auftraggeber ist Schuldner der ggfs. anfallenden Mehrwert - oder Umsatzsteuer.
    <br></br><br></br>
#end


#xml($termsOfPayment)
#xml($validityPeriod)

<br></br> <br></br>
Für eventuelle Rückfragen und Erläuterungen stehen wir gerne zur Verfügung.
<br></br> <br></br>
Freundliche Grüße
<br></br> <br></br>
scireum GmbH
<br></br>
Remshalden
<br></br> <br></br>
<div style="font-size:8pt">
   Handelsregister: Amtsgericht Stuttgart, HRB 732171, Ust.-IdNr.: DE815140004
   <br></br>
   Geschäftsführer: Michael Haufler, Andreas Haufler
</div>
</body>


</html>

